<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qualityISQL">

	<select id="selectQualityIList" resultType="com.kh.spring.qualityI.model.vo.QualityI">
		SELECT * FROM QUALITYI
	<include refid = "search" />
		ORDER BY QUALITYINO DESC
	</select>
	
<sql id = "search">
<if test="word != null and word != ''.toString()">

where 1 = 0
<if test="key == 'DATE'">
OR QUALITYIDATE like '%' || #{word} || '%'
</if>

<if test="key == 'MANAGER'">
OR MANAGER like '%' || #{word} || '%'
</if>

<if test="key == 'CODE'">
OR PROCODE like '%' || #{word} || '%'
</if>

<if test="key == 'NAME'">
OR proname like '%' || #{word} || '%'
</if>
</if>
</sql>
	
	<select id="selectQualityITotalContents" resultType="int">
		SELECT COUNT(*) FROM QUALITYI
		<include refid = "search" />
	</select>
	
	<insert id="insertQualityI" parameterType="QualityI">
		INSERT INTO QualityI (QUALITYINO, MANAGER, PROCODE, PRONAME, QUALITYICOUNT)
		VALUES (SEQ_QUALITYINO.NEXTVAL,#{ manager }, #{ procode }, #{ proname }, #{ qualityiCount })
		
	</insert>
	
	
	
	<update id="updateCount" parameterType="QualityI">
		UPDATE QualityI SET QualityICOUNT = QualityICOUNT + #{ qualityiCount } WHERE
		PROCODE = #{ procode }
	</update>

	
	<select id="selectOneQualityI" parameterType="int" resultType="QualityI">
		SELECT * FROM QualityI WHERE QualityINO = #{ qualityiNo }
	</select>
	
	
	
	<update id="updateQualityI" parameterType="QualityI">
		UPDATE QualityI SET MANAGER = #{ manager }, PROCODE = #{ procode }, proname = #{ proname }, 
		 QUALITYICOUNT = #{ qualityiCount }
		WHERE QUALITYINO = #{ qualityiNo }
	</update>
	
	<delete id="deleteQualityI">
		DELETE FROM QUALITYI WHERE QUALITYINO = #{ qualityiNo }
	</delete>
	
	<delete id="AlldeleteQualityI">
		DELETE FROM QUALITYI WHERE QUALITYINO > 0
	</delete>
	
</mapper>
















